<h1>Make Your Article Below</h1>

<form method="POST" action="/articles">
  <label for="title">Title</label>
  <input type="text" name="title">
  <label for="content">Content</label>
  <textarea type="text" name="content"></textarea>
</form>